<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script charset="utf-8" src="bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/lib/css/font-awesome.css">
    <title>OutputDD</title>
</head>

<body ng-app="app">

    <section ng-controller="AppController">
        <header>
            <div>

                Sort by:
                
                <a ng-click="orderBy('title')">
                    <i class="fa" ng-class="{
                        'fa-caret-down':order.property=='title' && order.reverse == true,
                        'fa-caret-up':order.property=='title' && order.reverse == false}">
                    </i>
                    Title
                </a> |

                <a ng-click="orderBy('date')">
                    <i class="fa" ng-class="{
                        'fa-caret-down':order.property=='date' && order.reverse == true,
                        'fa-caret-up':order.property=='date' && order.reverse == false}">
                    </i>
                    Date
                </a>
            </div>

            <input placeholder="Search…" />

            <div>
                <a ng-click="showOnlyFavorites = false"
                   ng-class="{'active': !showOnlyFavorites}">
                    All ({{contributions.length}})
                </a> |
                <a ng-click="showOnlyFavorites = true"
                   ng-class="{'active': showOnlyFavorites}">
                    Favorites ({{getFavorites.length}})
                </a>
            </div>

        </header>

        <div class="contrib-list">

            <contribution
                ng-repeat="c in getContributions() | filter: search | orderBy: order.property: order.reverse">
            </contribution>

        </div>

    </section>

    <script src="app.js"></script>

</body>

</html>
