<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script charset="utf-8" src="bower_components/angular/angular.js"></script>
    <title>OutputDD</title>
</head>
<body ng-app="app">

    <section ng-controller="AppController">
        Search: <input ng-model="search" />

        <div><a ng-click="orderBy('date')">Date</a> <a ng-click="orderBy('title')">Title</a></div>

        <ul>
            <li ng-repeat="c in favorites">{{c.title}}
                <a ng-click="unstar(c)">UNSTAR!</a>
            </li>
        </ul>

        <contribution ng-repeat="c in contributions | filter: search | orderBy: order.property: order.reverse"></contribution>


    </section>

    <script src="app.js"></script>
</body>
</html>
